@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

#header {
    display: flex;
    background-image: url(assets/top-img.jpg);
    flex-flow: column;
    background-size: cover;
    align-content: center;
}

.flex-container {
    align-items: center;
    display:flex;
    justify-content: space-evenly;
    font-family: "Luckiest Guy";
    font-size: xx-large;
}

body {
    background-color: rgb(255, 255, 255);
}

h1 {
    font-family: "arial";
    text-align: center;
}

h2 {
    font-family: "times new roman";
    text-align: left;
}

p {
    position: relative;
}

li {
    font-size:medium;
}